[submodule "Sorting-Files"]
	path = Sorting-Files
	url = git@github.com:DYPIXY/Sorting-Files.git
[submodule "SimpleGraphin-Java"]
	path = SimpleGraphin-Java
	url = https://github.com/DYPIXY/Simple-Math-Graphin-Java.git
